<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 *ngIf=" this.autenticazioneService?.profile?.operatore!='Operatore Mobile' " >Monitoraggio Operazioni Da Revisionare</h5>
            <h5 *ngIf=" this.autenticazioneService?.profile?.operatore=='Operatore Mobile' " > Operazioni Con Issue Assegnate</h5>

            <p-table #dt1 [value]="operazioni" dataKey="id" [rows]="10" [loading]="false" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['']" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 2rem" *ngIf="this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'">
                            <div  class="flex justify-content-between align-items-center" >
                                ID
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Descrizione Operazione
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Punto di Destinazione
                            </div>
                        </th>

                        <th  *ngIf="this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'" style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Stato Operazione
                            </div>
                        </th>

                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Autotrasportatore
                            </div>
                        </th>

                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Targa Veicolo
                            </div>
                        </th>

                        <th  *ngIf="this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Issue
                            </div>
                        </th>


                        <th  *ngIf="this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Aperta da (Operatore di Sala)
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Operatore Mobile Assegnato
                            </div>
                        </th>

                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Dettagli
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td  *ngIf="this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'">
                            {{data.operazione.id}}
                        </td>
                        <td>
                            <span class="image-text ml-2">{{data.operazione.descrizione}}</span>
                        </td>
                        <td>
                            <!--
                            <img [alt]="customer.representative.name" src="assets/demo/images/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle"/>
                            -->
                            <span class="image-text ml-2">{{data.operazione.puntoDestinazione}}</span>
                        </td>

                        <td *ngIf="data?.operazione?.stato.includes('Anomalia') && this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'">
                            <p style="color: red;"><b>{{ data.operazione.stato }}</b></p>
                        </td>

                        <td style="color: red" *ngIf="data?.operazione?.stato.includes('Aperta') && this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'"><b>{{ data.operazione.stato }}</b></td>

                        <td style="color: green" *ngIf="!data?.operazione?.stato.includes('Aperta') && this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'"><b>{{ data.operazione.stato }}</b></td>


                        <td> {{data.autotrasportatore.nome+ ' '+data.autotrasportatore.cognome }}</td>

                        <td> {{data.veicolo.targa}} </td>

                        <td *ngIf="data.issue?.stato == 'Chiuso' && this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'"> {{data.issue?.stato}} </td>
                        <td *ngIf="data.issue?.stato != 'Chiuso' && this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'" style="color: red"><b> {{data.issue?.stato}} </b> </td>

                        <td *ngIf=" this.autenticazioneService?.profile?.operatore!=='Autotrasportatore'"> {{data.operatore_sala != null ? data.operatore_sala?.nome + ' '+ data.operatore_sala?.cognome : ''}}</td>


                        <td> {{data.operatore_mobile != null ? data.operatore_mobile?.nome + ' '+ data.operatore_mobile?.cognome : ''}}</td>

                        <td style="text-align: center"> <p-button icon="pi pi-info" (click)="openDettagliOp(data)"></p-button> </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Nessun Operazione Attiva.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Caricamento Operazioni. Attendere!</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>