<p-toast></p-toast>
<div class="flex h-screen">
    <div class="w-full lg:w-6 h-full text-center px-6 py-6 flex flex-column justify-content-between"> <!-- lg:w-4-->
        <div class="flex flex-column align-items-center gap-4">
            <img [src]="'assets/layout/images/logo.png'" class="max-w-18rem mt-4"/> <!-- 12rem -->
        </div>

        <div class="flex flex-column align-items-center gap-4">
            <div class="mb-3">
                <h2>Accedi al tuo account</h2>
                 </div>
            <input pInputText id="email" placeholder="Email" class="w-20rem" [(ngModel)]="username"/>
            <p-password id="password" placeholder="Password" [feedback]="true" inputStyleClass="w-20rem" [(ngModel)]="password"></p-password>
            <button pButton label="Continua" type="button" class="w-20rem" (click)="login($event)"></button>
        </div>

        <p class="text-color-secondary font-semibold">
            <!--    A problem?<a class="text-primary hover:underline cursor-pointer font-medium">Click here</a> and let us help you.-->
        </p>
    </div>
    <!-- sopra 5 e sotto 6 per avere il bordo a destra -->

    <div class="w-7 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-position: left; background-image: url('assets/layout/images/login-image.jpeg')">
        <div class="mt-auto mb-auto">
            <!-- <span class="block text-white text-7xl font-semibold">Access to your <br/>Diamond <br/>Account</span>
             <span class="block text-white text-3xl mt-4">Lorem ipsum dolor sit amet, consectetur<br/> adipiscing elit. Donec posuere velit nec enim<br/> sodales, nec placerat erat tincidunt. </span>-->
        </div>
        <div class="flex align-items-center gap-5">
            <!--  <span class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              <i class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>
              <i class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>-->
        </div>
    </div>
</div>
