<p-toast></p-toast>
<p-dialog [maximizable]="true" [header]="'Nuova Issue'" [(visible)]="showDialog" [modal]="true" [dismissableMask]="true" styleClass="mx-3 sm:mx-0 sm:w-full md:w-11 lg:w-8" contentStyleClass="border-round-bottom border-top-1 surface-border p-0">
    <div class="p-8">
        <p style="font-size: 20px"><b>Informazioni Autotrasportatore</b></p>
        <br>

        <div class="grid p-fluid formgrid">
            <div class="col-6 field">
                <label class="text-900 font-semibold">Nome</label>
                <input [disabled]="true" type="text" placeholder="Nome" pInputText [(ngModel)]="issue.autotrasportatore.nome" />
            </div>
            <div class="col-6 field">
                <label class="text-900 font-semibold">Cognome</label>
                <input [disabled]="true" type="text" placeholder="Cognome" pInputText [(ngModel)]="issue.autotrasportatore.cognome" />
            </div>
            <div class="col-6 field">
                <label class="text-900 font-semibold">Targa</label>
                <input [disabled]="true" type="text" placeholder="Targa" pInputText [(ngModel)]="issue.autotrasportatore.targa" />
            </div>
            <div class="col-6 field">
                <label class="text-900 font-semibold">Azienda</label>
                <input [disabled]="true" type="text" placeholder="Azienda" pInputText [(ngModel)]="issue.autotrasportatore.azienda" />
            </div>

            <p-divider class="col-12 field"></p-divider>
        </div>

        <p style="font-size: 20px"> <b>Informazioni Issue</b></p>
        <br>

        <div class="grid p-fluid formgrid">
            <div class="col-6 field">
                <label class="text-900 font-semibold">Tipologia Problema</label>
                <p-dropdown [options]="tipiProblema" [(ngModel)]="issue.tipologiaProblema" optionLabel="nome" ></p-dropdown>
            </div>
            <div class="col-6 field">
                <label class="text-900 font-semibold">Posizione</label>
                <input type="text" placeholder="Posizione" pInputText [(ngModel)]="issue.posizione" />
            </div>
            <div class="col-12 field">
                <label class="text-900 font-semibold">Descrizione</label>
                <input type="text" placeholder="Descrizione" pInputText [(ngModel)]="issue.descrizione" />
            </div>
            <div class="col-6 field mt-0">
                <label class="text-900 font-semibold">Date e Ora Inizio</label>
                <p-calendar [(ngModel)]="issue.timestampApertura" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <p-divider class="col-12 field"></p-divider>
        </div>

        <p style="font-size: 20px"><b>Informazioni Operatore</b></p>
        <br>

        <div class="grid p-fluid formgrid">
            <div class="col-6 field">
                <label class="text-900 font-semibold">Operatore Mobile</label>
                <p-dropdown [options]="operatoriMob" [(ngModel)]="selectedOpMobile" optionLabel="nome" ></p-dropdown>
            </div>
        </div>

        <div class="col-12 flex justify-content-end mt-4">
            <button pButton pRipple class="p-button-primary w-8rem" icon="pi pi-check" label="Test Aggiornamento" (click)="aggiornaTest()"></button>
            <button pButton pRipple class="p-button-outlined w-8rem mr-3" icon="pi pi-times" label="Cancella" (click)="cancella()"></button>
            <button pButton pRipple class="p-button-primary w-8rem mr-3" icon="pi pi-check" label="Salva" (click)="salvaNuovaIssue()"></button>
        </div>

    </div>
</p-dialog>
