<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-6 xl:col-3" *ngFor="let metric of metrics">
            <div class="card shadow-1 flex flex-column" [style.borderColor]="metric.color_light" [style]="{'border-color': metric.color_light, 'border-left': '4px solid'}">
                <div class="flex align-items-center">
                    <div class="flex justify-content-center align-items-center p-2 border-round" [style.backgroundColor]="metric.color_light">
                        <i [class]="metric.icon" [style.color]="metric.color_dark"></i>
                    </div>
                    <span class="text-xl ml-2 font-semibold" [style.color]="metric.color_light">{{metric.title}}</span>
                </div>

                <div class="grid mt-3">
                    <div class="col-6 flex flex-column p-3 text-center" *ngFor="let content of metric.textContent; let i = index" [class]="i === 0 ? 'border-right-1 surface-border' : '' ">
                        <span class="text-color text-2xl font-semibold">{{content.amount}}</span>
                        <span class="text-color font-semibold">{{content.text}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <div class="flex w-full justify-content-between align-items-center">
                    <h4>Operazioni Annuali</h4>
                  </div>
                <p-menu #menu [popup]="true" [model]="items"></p-menu>

                <div class="grid mt-3">
                    <div class="col-6 md:col-3 relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="Nuove" data-index="0" data-fill="rgba(100, 181, 246, 0.2)" data-stroke="#BBDEFB">
                        <span class="flex align-items-center"><i class="pi pi-plus-circle mr-1"></i> Nuove</span>
                        <img src="assets/demo/images/dashboard/graph-new.svg" class="absolute w-11" style="left: 5%; bottom: 0">
                    </div>
                    <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()"  data-label="Regolari" data-index="1" data-stroke="#C5CAE9" data-fill="rgba(121, 134, 203, 0.2)">
                        <span class="flex align-items-center"><i class="pi pi-check-circle mr-1"></i> Regolari</span>
                        <img src="assets/demo/images/dashboard/graph-completed.svg" class="absolute w-11" style="left: 5%; bottom: 0">
                    </div>
                    <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="Con Issue" data-index="2" data-stroke="#B2DFDB" data-fill="rgba(224, 242, 241, 0.5)">
                        <span class="flex align-items-center"><i class="pi pi-refresh mr-1"></i> Con Issue</span>
                        <img src="assets/demo/images/dashboard/graph-refunded.svg" class="absolute w-11" style="left: 5%; bottom: 0">
                    </div>
                    <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="Rifiutate" data-index="3" data-stroke="#B2EBF2" data-fill="rgba(224, 247, 250, 0.5)">
                        <span class="flex align-items-center"><i class="pi pi-times-circle mr-1"></i> Rifiutate</span>
                        <img src="assets/demo/images/dashboard/graph-cancelled.svg" class="absolute w-11" style="left: 5%; bottom: 0">
                    </div>

                    <div class="col-12 mt-5">
                        <p-chart #chart type="line" [data]="ordersChart" [options]="ordersChartOptions" id="order-chart"></p-chart>
                    </div>
                </div>
            </div>
        </div>


        <!--
        <div class="col-12 lg:col-4">
            <div class="card">
                <h4>Tasks</h4>
                <p>Overview of your pending tasks.</p>
                <div class="mt-4">
                    <span class="block mb-2"><span class="font-semibold">12 Orders</span> to fulfill</span>
                    <div class="w-full border-round" style="height: 7px; background-color: var(--surface-d)">
                        <div class="w-7 h-full border-round" style="background-color: #64B5F6"></div>
                    </div>
                </div>
                <div class="mt-4">
                    <span class="block mb-2"><span class="font-semibold">40+ Payments</span> to withdraw</span>
                    <div class="w-full border-round" style="height: 7px; background-color: var(--surface-d)">
                        <div class="w-5 h-full border-round" style="background-color: #A5D6A7"></div>
                    </div>
                </div>
                <div class="mt-4">
                    <span class="block mb-2"><span class="font-semibold">4 Repors</span> to revise</span>
                    <div class="w-full border-round" style="height: 7px; background-color: var(--surface-d)">
                        <div class="w-8 h-full border-round" style="background-color: #7986CB"></div>
                    </div>
                </div>
                <div class="mt-4">
                    <span class="block mb-2"><span class="font-semibold">6 Questions</span> to respond</span>
                    <div class="w-full border-round" style="height: 7px; background-color: var(--surface-d)">
                        <div class="w-4 h-full border-round" style="background-color: #9575CD"></div>
                    </div>
                </div>
                <div class="mt-4">
                    <span class="block mb-2"><span class="font-semibold">2 Chargebacks</span> to review</span>
                    <div class="w-full border-round" style="height: 7px; background-color: var(--surface-d)">
                        <div class="w-6 h-full border-round" style="background-color: #4DB6AC"></div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="col-12 xl:col-6">
            <div class="card" style="height: 100% !important;">
                <h4>Rapporto Gate/Operazioni</h4>
                <p>Numero di operazioni effettuate nei vari gate del porto nell'ultima ora.</p>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="pie" [data]="revenueChart" [options]="revenueChartOptions" [style]="{'width': '50%'}"></p-chart>
                </div>
            </div>
        </div>
    </div>

</div>